nav{
  background-color: #3F0B0A;
  height: 64px;
  
}
.container{
  display: flex;
  align-items:center;
}
.UHSSEAL {
  height: 55px;
  margin-top: 4px;
}

.titleText{
  font-size: 16px;
  color: #EFD071;
  margin-top: 4px;
}
.subtitle{
  font-size: 13px;
  color: #fff;
 
}

